$break-medium: 750px;
$break-small: 405px;

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  font-size: 18px;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  margin: 15px;

  @media screen and (max-width: $break-small) {
    top: 90vh;
    left: 70vw;
  }
}

.background {
  background: linear-gradient(#FA111C, black);
  width: 100vw;
  height: 100vh;
  position: absolute;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 200px solid #0C0F65;
    border-left: 120vw solid rgba(0, 0, 0, 0);
    width: 0;
  }
}

.form__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

$formcolor: #2ABCF9;
$formwidth: 40vw;
$formwidthmedium:60vw;
$formwidthsmall:80vw;

.form {
  position: relative;
  width: $formwidth;
  height: 20vh;
  padding:5%;
  background: $formcolor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: normal;
  transition: width 0.2s;

  label {
    margin-top: 5%;
    text-align: center;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: -70px;
    left: 0;
    border-left: $formwidth solid $formcolor;
    border-bottom: 70px solid rgba(0, 0, 0, 0);
    transition: width 0.2s;

    @media screen and (max-width: $break-medium) {
      border-left: $formwidthmedium solid $formcolor;
    }

    @media screen and (max-width: $break-small) {
      border-left: $formwidthsmall solid $formcolor;
    }

  }

  @media screen and (max-width: $break-medium) {
    width: $formwidthmedium;
  }

  @media screen and (max-width: $break-small) {
    width: $formwidthsmall;
  }
}

.form input {
  margin-top: 8%;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0);
  font-size: 18px;
  color: #4C4841;
  text-align: center;
}

.input {
  position: relative;


  &:before {
    content: '';

    position: absolute;
    bottom: -5%;
    right: 50%;
    transform: translateX(50%);
    width: 30vw;
    height: 1px;
    background: black;

  }
}


.facts {
  display: flex;
  justify-content: center;
  position: absolute;
  top: calc(20vh + 70px);
  right: 50%;
  transform: translateX(50%);
  width: 35vw;
  height: 70%;
}

.title {
  position: absolute;
  top: -15%;
  display: flex;
  padding: 5%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: black;
  text-align: center;

  h1 {
    font-weight: lighter;
  }
  @media screen and (max-width: $break-small) {
    top: -14%;
    padding: 10%;
  }

}

.fact__container {
  position: absolute;
  top: 20px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.fact {
  width: 20vw;
  line-height: 20px;
  animation: appear 1s;
  margin-top: 8%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  background: white;
  color: black;
  padding: 10%;
  transition: all 0.2s;


  p {
    font-weight: normal;
    font-size: 14px;
    margin-top: 3%;
  }

  &:hover {
    transform: scale(1.2);
  }

  @media screen and (max-width: $break-medium) {
    width: $formwidthmedium;
  }

  @media screen and (max-width: $break-small) {
    width: $formwidthsmall;
  }
}