.table{
  background: white;
  color:black;


  border-collapse: separate;
  border-spacing: 10px;
  border: 1px solid blue;

  & th,td{
    border: 1px solid blue;
  }
}

.error{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 50vw;
  background: red;
  text-align: center;
  padding: 5%;
}

